html {
    scroll-behavior: smooth;
  }

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(45deg, #5983fc26 0%, rgba(41, 53, 86, 0.01) 30%,  rgba(41, 53, 86, 0.01) 70%, #fc595c26 100%);
    color: white;
    scrollbar-width: none;  
}

.container{
    scrollbar-width: none;  
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.intro, .about, .skills{
    scrollbar-width: none;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
}

#type-text{
    font-size: 3vw;
    margin: 0;
    padding-bottom: 20px;
}

h1{
    font-size: 4vw;
    margin: 0;
    padding: 0;
}

h2, h3{
    font-size: 2vw;
    margin: 0;
    padding: 0;
    max-width: 70%;
    text-align: center;
}

.name{
    color: pink;
}

.btn{
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 1vw;
    color: #fff;
    background-color: #0066cc00;
    padding: 1vw 3vw;
    border: solid #ffffff 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
    }
    
.btn:hover{
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: #ffc6c66b;
    color: #ffffff;
    border: solid 2px #ffffff;
    
    }

